<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="api.carsales.odata" value="http://nuget.dev-web-01.csdev.com.au/api/odata" />
  </packageSources>
  <disabledPackageSources>
    <add key="api.carsales.odata" value="true" />
  </disabledPackageSources>
</configuration>