<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:/ApplicationLogs/Training/NLogInternal.log"
      internalLogLevel="Error"
      autoReload="true"
      throwExceptions="true" >
  <variable name="Collector" value="OverThere" />
  <variable name="Application" value="Somewhere\Else" />
  <variable name="Environment" value="Development" />
  <rules>
    <logger name="*" minlevel="Error" writeTo="Error" />
    <logger name="*" minlevel="Info" maxLevel="Info" writeTo="Profile" />
  </rules>
</nlog>